
  <div class="demo">
    <div class="container">
        <div class="text-center">
            <h1 class="heading-title text-uppercase"><b> Pricing Chart</b></h1>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            Standard
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>Rs 500</span></span>
                        <span class="subtitle">Monthly</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>2</b> Free Movie Tickets</li>
                            <li><b>7%</b> Discount on non-complimentry Tickets</li>
                            <li><b>10%</b> Food Discount</li>
                            <li><b>N/A</b> Priority Service</li>
                            <li><b>N/A</b> Seat upgradation</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a routerLink="/booking" class="btn btn-block btn-default">Home</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                           Business
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>Rs 800</span></span>
                        <span class="subtitle">Monthly</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>4</b> Free Movie Tickets</li>
                            <li><b>9%</b> Discount on non-complimentry Tickets</li>
                            <li><b>10%</b> Food Discount</li>
                            <li><b>Yes</b> Priority Service</li>
                            <li><b>N/A</b> Seat upgradation</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a routerLink="/booking" class="btn btn-block btn-default">Home</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            Premium
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>Rs 1500</span></span>
                        <span class="subtitle">Monthly</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>6</b> Free Movie Tickets</li>
                            <li><b>9%</b> Discount on non-complimentry Tickets</li>
                            <li><b>15%</b> Food Discount</li>
                            <li><b>Yes</b> Priority Service</li>
                            <li><b>Yes</b> Seat upgradation</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a routerLink="/booking" class="btn btn-block btn-default">Home</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
        </div>
    </div>
</div>