
  <div class="demo">
    <div class="container">
        <div class="text-center">
            <h1 class="heading-title text-uppercase"><b> Pricing Chart</b></h1>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            Standard
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>10</span></span>
                        <span class="subtitle">Lorem ipsum dolor</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>50GB</b> Disk Space</li>
                            <li><b>50</b>Email Accounts</li>
                            <li><b>50GB</b> Monthly Bandwidth</li>
                            <li><b>10</b> subdomains</li>
                            <li><b>15</b> Domains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a href="#" class="btn btn-block btn-default">buy now</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                           Business
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>20</span></span>
                        <span class="subtitle">Lorem ipsum dolor</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>70GB</b> Disk Space</li>
                            <li><b>70</b>Email Accounts</li>
                            <li><b>70GB</b> Monthly Bandwidth</li>
                            <li><b>15</b> subdomains</li>
                            <li><b>20</b> Domains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a href="#" class="btn btn-block btn-default">buy now</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="heading">
                            Premium
                        </span>
                    </div>
                    <div class="pricing-plans">
                        <span class="price-value"><i class="fa fa-usd"></i><span>30</span></span>
                        <span class="subtitle">Lorem ipsum dolor</span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><b>80GB</b> Disk Space</li>
                            <li><b>80</b>Email Accounts</li>
                            <li><b>80GB</b> Monthly Bandwidth</li>
                            <li><b>20</b> subdomains</li>
                            <li><b>25</b> Domains</li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                    <div class="pricingTable-sign-up"><!-- BUTTON BOX-->
                        <a href="#" class="btn btn-block btn-default">buy now</a>
                    </div><!-- BUTTON BOX-->
                </div>
            </div>
        </div>
    </div>
</div>