<app-welcome></app-welcome>
<div class="container-xl bg-primary">
<br>
<br>
<br>
<br>
    <form [formGroup]="formdetails" class="form-group" (ngSubmit)="entryDetails()">
        <div class="form-inline" >
            <span class="btn btn-dark ml-3">Select Movie</span>
            <select class="custom-select ml-2 mr-3" name="category" formControlName="movie">
                <option selected>Select movie</option>
                <option *ngFor="let topic of topics"> {{topic}}</option>
                <!-- <span *ngIf="!formdetails.get('movie')!.valid && formdetails.get('movie')!.touched" class="help-block">required</span> -->
            </select>
            
                <label class="btn btn-dark ml-3 ">Time</label>
                <select class="custom-select ml-2 mr-3" name="time" formControlName="time">
                <option selected>Select time</option>
                <option *ngFor="let time of times"> {{time}}</option>
            </select>
            <label class="btn btn-dark ml-3 ">Seat</label>
            <select class="custom-select ml-2 mr-3" name="seat" formControlName="seat">
                <option selected>Select Seat</option>
                <option *ngFor="let nums of seatnumber; index as i;" > {{nums.seat_no}}</option>
             </select>
             <label class="btn btn-dark mr-3 ml-3" >Number of people : </label>
             <input type="number" class="form-control" formControlName="number">
            
            
             <span class="btn btn-dark ml-4 ">Food Option</span>
            <select class="custom-select ml-2 mr-3" name="category" formControlName="foodtype">
                <option selected>Select Food</option>
                <option *ngFor="let food of foods"> {{food}}</option>
            </select>
                <span class="btn btn-dark ml-3">Seat Type</span>
                <select class="custom-select ml-2 mr-3 " name="category" formControlName="seattype">
                    <option selected>Seat Type</option>
                     <option *ngFor="let type of seatType"> {{type}}</option>
                </select>
        </div>
        <div class="text-center mx-3 mt-5">
        <button class="btn btn-success mb-3" type="submit" >Submit Entry</button>
        <div class="btn btn-danger mx-3 mb-3" type="button" routerLink="/">back</div>
     </div>
    </form>
</div>
<!-- <a href="https://www.binance.com/en/price/rise">Live Rise Price</a> -->
<!-- <app-view-area [data]="collectiveData"></app-view-area> -->












