$gray-lighter: #f7f7f7;
$gray-light: #dbdbdd;
$gray-dark: #aeafb3;
$gray-darker: #454547;
$pink: #e89d93;
$yellow: #eec71a;

// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: powderblue;
//   color: $gray-darker;
//   font-family: 'Open Sans', sans-serif;
// }

// .style-4 {  
//   background-image: linear-gradient(135deg, $pink 50%, $gray-light 50%);
// }
